@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px;
  letter-spacing: 2px;
  box-shadow: 2px 2px 26px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 15px 20px 30px;
}

li {
  list-style: none;
  display: inline;
}

li a,
.left li a {
  font-weight: bold;
  color: #44115b;
  text-decoration: none;
  padding: 30px 20px;
}

a:hover {
  text-decoration: underline #44115b 5px;
  text-underline-offset: 10px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("./images/hero.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.frame {
  border: 3px solid white;
  border-radius: 10px;
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: white;
  font-size: 25px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 400px;
}

.leftBtn button {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.leftBtn button:hover {
  background: white;
  color: black;
}

.rightBtn button {
  background: white;
  color: black;
  border: 1px solid white;
}

.rightBtn button:hover {
  background: transparent;
  color: white;
}

.rightBtn button a {
  text-decoration: none;
  color: inherit;
}

.rightBtn button:hover a {
  color: white;
}